@import url("../css/common.css");

.content-banner {
  background-image: url("../img/tourinfo.png");
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  padding: 40px 40px 40px 40px;
}

.content-title {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  border-bottom: 1px solid gray;
}

.sns-share img {
  width: 30px;
  height: 30px;
}

.pagination {
  width: 1200px;
  max-width: 1200px;
}
.pagination-wrapper {
  display: flex;
  justify-content: center;
}

.pagination-top-contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding: 14px;
}

.pagination-top-contant p {
  font-weight: bolder;
  font-size: 20px;
}

.pagination-top-contant span {
  color: #ff4100;
}

.pagination-top-contant select {
  padding: 6px 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 50px;
  display: inline-block;
}

.pagination-top-filter {
  padding: 16px 0px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid gray;
}

.pagination-top-filter * {
  margin: 0px 8px;
}

.pagination-content-item {
  display: flex;
  width: 100%;
  padding: 30px 0px;
  border-bottom: 1px solid gray;
}

.pagination-content-item img {
  width: 300px;
  height: 200px;
}

.item-number {
  background: #c9161e;
  color: #fff;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-info span {
  font-weight: bolder;
}

.item-details {
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 0px;
}

.item-title {
  display: flex;
  align-items: center;
}

.item-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.item-ratings > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.item-ratings .action-btn {
  width: 100px;
  margin: 5px auto;
  padding: 8px 0;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.active {
  color: red;
}

.action-btn-blue {
  width: 100px;
  margin: 5px auto;
  padding: 8px 0;
  border: 1px solid #0a6eff;
  background: #0a6eff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: white;
}


.pagination-buttons{
  display: flex;
  justify-content: center;
}

.pagination-buttons button {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: white;
    color: black;
    text-decoration: none;
    margin: 0 2px;
    border-width: 1px; 
    border-style: solid;
    border-color: #d7d7d7;
    text-align: center;
    font-size: larger;
}

.number-button-wrapper {
  display: flex;
}