@import url("./common.css");

div {
    /* border: 1px solid black; */
}

.nav-top{
    display: flex;
    justify-content: space-evenly;
    background-color: #2a2f42;
}

.nav-top > ul,
.nav-top > ul > li {
    display: flex;
}

.nav-top > ul > li > a{
    padding: 20px;
    color: white;
}

.nav-middle{
    display: flex;
    justify-content: center;
}

.nav-second {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 196px;
    width: 1280px;
}
.nav-second> img {
    height: 90px;
}

.search-second-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search {
    border: 3px solid #0a6eff;
}

.search > * {
    border: none;
        padding: 6px 8px;
    border: none;
    cursor: pointer;
    outline: none;
    border: 0;
}

.search > button{
    background-color: #0a6eff;
    border: 1px solid #0a6eff;
}

.search > input {
    border: none;
    padding: 6px 8px;
    outline: none;
    width: 200px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons > a > img{
    height: 40px;
}

.nav-bottom {
    display: flex;
    justify-content: space-around;
    background-color: #0057b8;
}
.nav-bottom > ul,
.nav-bottom > ul > li{
    display: flex;
}

.nav-bottom > ul > li > a{
    padding: 20px;
    color: white;
    transition-duration: 0.2s;
}

.nav-bottom > ul > li > a:hover{
    background-color: #003f8a;
}

.nav-bottom > ul > li > button {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    font-size: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #23262d;
}

.footer ul{
    display: flex;
    font-size: 18px;
}

.footer-top-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.footer-top-menu > ul > li {
    padding: 12px 8px 12px 8px;
}

.footer-dropdowns > ul > li > select{
    padding: 8px 12px;
    background: #23262d;
    color: #fff;
    border: 1px solid #444;
    cursor: pointer;
    outline: none;
    display: inline-block;
    width: 220px;
    height: 50px;
}

.footer-dropdowns{
    display: flex;
    justify-content: center;
    background: #23262d;
    width: 100%;
}

.footer-top-menu :visited{
    color:  black;
}

.footer-info{
    width: 1100px;
    background: #23262d;
    color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-info > div > ul >li{
    border-right: 1px solid gray;
    padding-left: 14px;
    padding-right: 14px;
}

.footer-info > div > ul >li:last-child{
    
    border-right: 0px;
}

.footer-info :visited {
    color: white;
}