@import url("../css/common.css");

.carousel-wrapper {
  width: 1905px;
  height: 720px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.carousel {
  display: flex;
  transition-duration: 0.8s;
}

.carousel img {
  width: 1905px;
  height: 720px;
}

.carousel-pre-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 58px;
  height: 58px;
}

.carousel-next-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 10%;
  width: 58px;
  height: 58px;
}

.taste-gimhea {
  position: relative;
  display: flex;
}

.taste-background {
  width: 100%;
  background-image: url("../img/taste.png");
  background-repeat: no-repeat;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px 60px 40px;
}

.taste-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.taste-card {
  box-shadow: 5px 5px 20px 0px gray;

  background-color: white;
}

.taste-cards-wrapper {
  width: 1060px;
  display: flex;
  gap: 20px;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.taste-card img {
  width: 250px;
  height: 166px;
  object-fit: cover;
}

.taste-card .name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.taste-card .desc {
  font-size: 13px;
  color: #666;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.taste-card .location {
  font-size: 13px;
  color: #207bff;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
