@import url("../css/common.css");

.content-banner {
  background-image: url("../img/introduce.png");
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  padding: 40px 40px 40px 40px;
}

.content-title {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  border-bottom: 1px solid gray;
}

.sns-share img {
  width: 30px;
  height: 30px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.block-title {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.block-title {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.styled-list {
  list-style: none;
  padding-left: 15px;
}

.styled-list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.icon-blue-box {
  display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #0a6eff;
    border-radius: 2px;
    margin-right: 10px;
    transform: translateY(-2px);
}